<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bundle.css">
  <link href="/themes/prism-material-oceanic.css" rel="stylesheet" />
  <title>{{ title }} | Jan Abe's Blog</title>
</head>
<body>
  {% include "partials/header.njk" %}
  <main class="main-content">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
