---
title: "How to center a div with css"
description: "Lean how to center a div using modern css tools such as flexbox and css grid"
date: 10-02-2024
---

There are different ways of centering a div with css.
One of the easiest ways is to make the parent container a flex container.
Then use the properties justify-content and align-items to center the children within this container.
