---
name: "css-grid-basics"
title: "Basics of css grid"
description: "Learn the basic of how to setup a layout with css grid"
date: 2024-02-12
layout: "layouts/blog.njk"
---

You can use <mark class="highlight">grid-area-templates</mark> to create named sections of your website's layout