---
title: "Blog"
---

{% extends "layouts/base.njk" %}
{% block content %}
  <div class="cards__wrapper">
    <ul class="cards">
        {% for item in collections.posts %}
        <li>
            <div class="card">
                <a href="/posts/{{ item.data.name }}" class="card__title">{{ item.data.title }}</a>
                <hr class="purple-hr"/>
                <p class="grow">{{ item.data.description }}</p>

                <div class="card__view-link__wrapper">
                  <a href="/posts/{{ item.data.name }}" class="card__view-link">Read</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}