<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bundle.css">
  <title>Jan Abe's Blog</title>
</head>
<body>
  <main class="main-content">
    <div class="main-title-container">
      <div>
        <h1 id="typewriter" aria-hidden="true"></h1>
        <h1 class="sr-only">Welcome to JanAbe.dev</h1>
        <nav>
          <ul class="nav-list">
            <li>
              <a class="nav-list__link" href="/blog/">Blog</a>
            </li>
            <li>
              <a class="nav-list__link" href="/about/">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </main>
  {% include "partials/footer.njk" %}
    <script src='/js/typewriter-effect.js'></script>
    <script type="text/javascript">
    const instance = new Typewriter('#typewriter');

    instance
      .typeString("Welcome to")
      .pauseFor("500")
      .deleteChars(10)
      .typeString('<span class="big-char">J</span>an<span class="big-char">A</span>be.dev')
      .start();
    </script>
</body>
</html>