<h2 id="{{ demoTitle | lower | replace(" ", "-") }}">{{ demoTitle }}</h2>

{{ description | safe}}

<style>
    {{ css | safe }}
</style>

{# no idea why this indentation is necessary but it breaks if you remove it #}
    <details open>
    <summary>HTML for "{{ demoTitle }}"</summary>
```html
{{- html | safe}}
```
</details>

{# no idea why this indentation is necessary but it breaks if you remove it #}
    <details open>
    <summary>CSS for "{{ demoTitle }}"</summary>
```css
{{- css | safe }}
```
</details>

<div class="demo">
    {{ html | safe }}
</div>