<h2>{{ demoTitle }}</h2>

{{ description | safe}}

<style>
    {{ css | safe }}
</style>

{% if open %}
<details open>
{% else %}
<details>
{% endif %}
    <summary>HTML for "{{ demoTitle }}"</summary>
```html
{{- html | safe}}
```
</details>

{% if open %}
<details open>
{% else %}
<details>
{% endif %}
    <summary>CSS for "{{ demoTitle }}"</summary>
```css
{{- css | safe }}
```
</details>

<div class="demo">
{{ html | safe }}
</div>